@using Pronia_Site___Backend.Areas.Admin.ViewModels.Category
@model List<ListItemViewModel>


<div class="">
    <a asp-route="admin-category-add" target="_blank" class="btn btn-secondary">Add new Category</a>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Categories</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Title</th>

                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var size in Model)
                        {

                            <tr>
                                <td>@size.Title</td>


                                <td class="text-end">
                                    <a asp-route="admin-category-update" asp-route-id="@size.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form class="d-none" method="POST" asp-route="admin-category-delete" asp-route-id="@size.Id" id="update-@size.Id">
                                    </form>

                                    <button type="submit" form="update-@size.Id"><i class="las la-trash-alt text-secondary font-16"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>
